<body>
    <div class="modal">
        <app-header></app-header>
        <img src="/assets/images/registration/review.png" alt="Seller Profile Image" class="profile-image">

        
        <form class="modal-content" action="/action_page.php" style="text-align: left;">
            <div class="container">
                <h1><b>Account under review</b></h1>
                <p><i> You have successfully registered for Agrarium.<br><br>Your account is currently under review by one of our staff members.
                Once we verify you and your company, we will send you an email to start selling.
                This process will take around 3-5 business days. <br>
                Once your business has been verified, please login with your user credentials. <br><br>
                Thank you,<br>Agrarium Team</i></p><br>
    
            </div>
        </form>
        <app-footer></app-footer>
    </div>  
</body>
