<body>
    <div class="modal">
        <app-header></app-header>
        <img src="/assets/images/registration/review.png" class="profile-image">

        <form class="modal-content" action="/action_page.php" style="text-align: left;">
            <div class="container">
                
                <p><i>A verification email has been sent to your company email. <br>Please click on the link in your email to be redirected to finish signing up.</i></p><br>
                
                <a href="/buyer-profile" style="color: rgb(255, 0, 0); text-decoration: none; display: block; text-align: right;"><b>Click here if you have trouble being redirected</b></a>

            </div>
        </form>
        <app-footer></app-footer>
    </div>  
</body>
