<div class="container">
    <div class="box">
        <div class="charts">
            <h1 class="heading">Totals</h1>
            <div class="subject" id="total">
                <div class="graph">
                    <h2 class="title">Total Sales</h2>
                    <app-total-sales-supplier></app-total-sales-supplier>
                </div>
                <div class="graph">
                    <h2 class="title">Total Orders</h2>
                    <app-total-orders-supplier></app-total-orders-supplier>
                </div>
            </div>
            <h1 class="heading">By Product</h1>
            <div class="subject" id="sales">
                <div class="graph">
                    <h2 class="title">Sales by Product</h2>
                    <app-sales-by-product-sup></app-sales-by-product-sup>
                </div>
                <div class="graph">
                    <h2 class="title">Orders by Product</h2>
                    <app-orders-by-product-sup></app-orders-by-product-sup>
                </div>
        </div>
    </div>
</div>
    