<app-header></app-header>
<body>

    <div class="container">
            <h1><b>Privacy Policy for Agrarium</b></h1>
            <p><i>Welcome to Agrarium - Your Trusted Agricultural Marketplace!<br>
            At Agrarium, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you visit our website or use our services.</i></p>
            <p><b>1. Information We Collect:</b><br>
                We may collect the following types of information:<br>
                <ul>
                    <li>Personal information (e.g., name, address, email, phone number)</li>
                    <li>Payment details for transaction processing</li>
                    <li>Order history and preferences</li>
                    <li>Usage data, including IP addresses and browser information</li>
                    <li>Cookies and tracking technologies</li>
                </ul>
            <b>2. How We Collect Information:</b><br>
            We collect information through various methods, including:<br>
            <ul>
                <li>Account registration and user profiles</li>
                <li>Order forms and transactions</li>
                <li>Cookies and similar technologies</li>
                <li>Communication channels (e.g., customer support, newsletters)</li>
            </ul>
            <b>3. Purpose of Data Collection:</b><br>
            We collect and use your information for the following purposes:<br>

            <ul>
                <li>Processing and fulfilling orders</li>
                <li>Providing personalized services and recommendations</li>
                <li>Improving our website and user experience</li>
                <li>Marketing and promotional activities</li>
                <li>Communication and customer support</li>
            </ul>
            <b>4. Data Security:</b><br>
            We take reasonable measures to protect your data, including encryption, secure payment processing, and regular security audits.
            <br><br>
            <b>5. Cookies and Tracking:</b><br>
            We use cookies and similar technologies to enhance your browsing experience. You can manage cookie preferences in your browser settings.
            <br><br>
            <b>6. User Choices and Control:</b><br>
            You have the right to:<br>
            <ul>
                <li>Opt-out of marketing communications</li>
                <li>Update your account information</li>
                <li>Request access to and deletion of your personal data</li>
            </ul>
            <b>7. Third-Party Links:</b><br>
            Our website may contain links to third-party sites. Our privacy policy does not apply to those external sites, so please review their privacy policies.
            <br><br>
            <b>8. Updates to the Privacy Policy:</b><br>
            This Privacy Policy may be updated periodically. 
            <br><br>
            <b><i>If you have any questions or concerns about these Terms, please <a href="/contact-us">contact us</a>
            <br><br>
            By using the Agrarium Ecommerce Platform, you acknowledge that you have read, understood, and agreed to this Privacy Policy.</i></b><br><br>
    </div>  
    <app-footer></app-footer>
</body>
