<app-header></app-header>

<div class="container">
  <app-cart-menu></app-cart-menu>

  <!-- Logo 
  <div class="logo-container">
    <img src="/assets/images/myShop/TreeLogo.png" alt="Tree Logo" class="logo">
  </div>
-->

  <!-- Confirmation Modal -->
  <div class="confirmation-modal">
    <div class="modal-title">Thank you, your order has been placed!</div>

    <!-- Inner Modal 1: Order Review -->
    <div class="inner-modal-1">
        <div class="modal-title">Order Review</div>
        <div class="order-message">
          Your order  <strong>#CAEC00015</strong> has been confirmed and it's preparing to be shipped.
        </div>
        <div class="progress-container">
          <div class="progress-bar" style="width: 100%;">
            <div class="progress-fill" style="width: 20%;"></div>
        </div> 

          <div class="progress-labels">
            <div class="progress-label">Order Placed</div>
            <div class="progress-label">Order Confirmed</div>
            <div class="progress-label">Preparing for Shipping</div>
            <div class="progress-label">On Delivery</div>
            <div class="progress-label">Delivered</div>
          </div>
        </div>
    </div>

    <!-- Inner Modal 2 -->
    <div class="inner-modal-2">
        <div class="modal-title">What to expect?</div>
        <ul class="bullet-points">
            <li class="bullet-point">A confirmation email with tracking details has been sent to the email address provided.</li>
            <li class="bullet-point">A 5% hold will be placed in your account until your order is accepted by the seller and shipping is scheduled.</li>
            <li class="bullet-point">A representative of Agrarium will reach out in the next 48h to the email address provided to confirm all details.</li>
        </ul>
    </div>

    <!-- Continue Button -->
    <!-- <button class="continue-btn">Continue to Order Management</button>  -->
  </div>
</div>
