<app-header></app-header>
<body>

    <div class="container">
            <h1><b>Terms of Service for Agrarium</b></h1>
            <p><i>Please read these Terms of Service ("Terms") carefully before using the Agrarium Ecommerce Platform operated by Agrarium, Inc. These Terms govern your use of the platform and the services offered through it.<br>
            By accessing or using the Platform, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you may not use the Platform.</i></p>
            <p><b>1. Account Registration and Eligibility:</b><br>
            To use certain features of the Platform, you may be required to register for an account. By registering, you agree to provide accurate, current, and complete information and to update such information to keep it accurate, current, and complete.
            <br>
            You must be at least 18 years old to use the Platform. By using the Platform, you represent and warrant that you are at least 18 years old and capable of entering into a legally binding agreement.
            <br><br>
            <b>2. Product Listings and Descriptions:</b><br>
            Agrarium strives to provide accurate and up-to-date information regarding the products listed on the Platform. However, we do not guarantee the accuracy, completeness, or reliability of product descriptions, specifications, pricing, or any other content. Users are encouraged to verify product details independently.
            <br><br>
            <b>3. Ordering and Payment:</b><br>
            By placing an order on the Platform, you agree to pay the specified price for the products and any applicable taxes and fees. Payment methods accepted will be outlined during the checkout process. Agrarium uses secure payment processing, but we do not store your payment information.
            <br><br>
            <b>4. Shipping and Delivery:</b><br>
            Shipping and delivery information will be provided during the checkout process. Agrarium aims to fulfill orders promptly, but delivery times may vary. We are not responsible for delays caused by factors beyond our control, such as weather, transportation issues, or other unforeseen circumstances.
            <br><br>
            <b>5. Returns and Refunds:</b><br>
            Agrarium's return and refund policy is available on the Platform. Please review this policy before making a purchase. It outlines the conditions under which returns and refunds may be accepted.
            <br><br>
            <b>6. User Conduct:</b><br>
            Users are expected to use the Platform in a lawful and responsible manner. Prohibited activities include, but are not limited to, engaging in fraud, distributing harmful content, and attempting to interfere with the proper functioning of the Platform.
            <br><br>
            <b>7. Privacy and Data Security:</b><br>
            Our Privacy Policy outlines how we collect, use, and protect your personal information. By using the Platform, you agree to the terms of our Privacy Policy.
            <br><br>
            <b>8. Intellectual Property:</b><br>
            All content on the Platform, including text, graphics, logos, and images, is the property of Agrarium and is protected by intellectual property laws. Users are not permitted to use, reproduce, or distribute any content from the Platform without our express written consent.
            <br><br>
            <b>9. Termination:</b><br>
            Agrarium reserves the right to terminate or suspend your account and access to the Platform at any time, without notice, for any reason, including if you violate these Terms.
            <br><br>
            <b>10. Changes to Terms:</b><br>
            Agrarium may update these Terms from time to time. Any changes will be effective upon posting on the Platform. It is your responsibility to review the Terms periodically for updates.
            <br><br>
            <b><i>If you have any questions or concerns about these Terms, please <a href="/contact-us">contact us</a>
            <br><br>
            By using the Agrarium Ecommerce Platform, you acknowledge that you have read, understood, and agreed to these Terms of Service.</i></b></p>
    </div>  
    <app-footer></app-footer>
</body>
