<div class="container">
    <div class="box">
        <div class="charts">
            <h1 class="heading">Totals</h1>
            <div class="subject" id="total">
                <div class="graph">
                    <h2 class="title">Total Sales</h2>
                    <app-total-sales></app-total-sales>
                </div>
                <div class="graph">
                    <h2 class="title">Total Orders</h2>
                    <app-total-orders></app-total-orders>
                </div>
            </div>
            <h1 class="heading">Sales</h1>
            <div class="subject" id="sales">
                <div class="graph">
                    <h2 class="title">Sales by Product</h2>
                    <app-sales-by-product></app-sales-by-product>
                </div>
                <div class="graph">
                    <h2 class="title">Sales by Location</h2>
                    <app-sales-by-location></app-sales-by-location>
                </div>
            </div>
            <h1 class="heading">Orders</h1>
            <div class="subject" id="orders">
                <div class="graph">
                    <h2 class="title">Orders by Product</h2>
                    <app-orders-by-product></app-orders-by-product>
                </div>
                <div class="graph">
                    <h2 class="title">Orders by Location</h2>
                    <app-orders-by-location></app-orders-by-location>
                </div>
            </div>
            <h1 class="heading">Suppliers</h1>
            <div class="subject" id="suppplier">
                <div class="graph">
                    <h2 class="title">Orders by Supplier</h2>
                    <app-total-orders-sup></app-total-orders-sup>
                </div>
                <div class="graph">
                    <h2 class="title">Sales by Supplier</h2>
                    <app-total-sales-sup></app-total-sales-sup>
                </div>
            </div>
        </div>
    </div>
</div>
    