<div class="cart-full-menu"> 
    <div class="cart-side-menu">
        <div class="title">
            My Shop
        </div>
            <a href="/my-shop" class="button">Account Analytics Hub</a>
            <a href="/my-cart" class="button">My Cart</a>
            <a href="/payment" class="button">Payment</a>
            <a href="/confirmation" class="button">Confirmation</a>
            <!-- <a href="/order-management" class="button">Order Management</a> -->
    </div> 
    
<div class="background-image-container">
    <img src="/assets/images/myShop/myShopBackground.jpg" alt="MyShopBackground" class="background-image">
</div>   
</div>
