<html>
  <body>
    <div class="wrapper">
      <header>
        <div class="icons">
          <mat-icon class="icon" [ngStyle]="{'color': '#fff6e0'}" fontIcon="shopping_cart"></mat-icon>
          <mat-icon class="icon" [ngStyle]="{'color': '#fff6e0'}" fontIcon="person"></mat-icon>
          <mat-icon class="icon" [ngStyle]="{'color':'#fff6e0'}" fontIcon="search"></mat-icon>
          <mat-icon class="icon" [ngStyle]="{'color': '#fff6e0'}" fontIcon="menu"></mat-icon>
        </div>
        
      </header>

      <div class="content">

        <div class="logo">
          <img src="/assets/images/logos/logo5.png">
        </div>
  
        <!-- add links to buttons -->
        <div class="actions-bar">   
          <a href="/search" class="button">Search</a>
          <a href="/new" class="button">What's New</a>
          <a href="/help" class="button">Help</a>
          <a href="/my-shop" class="button">My Shop</a>
          <a href="/sign-up" class="button">Sign Up</a>
          <a href="/log-in" class="button">Log In</a>
        </div>
  
      </div>
      <footer>
        <app-footer></app-footer>
      </footer>

    </div>

  </body>

</html>