<app-header></app-header>

  <div class="container">
    <app-cart-menu></app-cart-menu>
    
    <!-- Logo -->
    <div class="logo-container">
      <img src="/assets/images/myShop/TreeLogo.png" alt="Tree Logo" class="logo">
    </div>

      <!-- Modal Container -->
    <div class="modal-container">
        <div class="modal-title">Shipping Details</div>

        <!-- Subtitles and Text Boxes -->
        <div class="form-group">
          <label for="firstName" class="modal-subtitle">First Name *</label>
          <input type="text" id="firstName" name="firstName" required placeholder="Enter first name" [(ngModel)]="firstName">
        </div>

        <div class="form-group">
          <label for="lastName" class="modal-subtitle">Last Name *</label>
          <input type="text" id="lastName" name="lastName"  placeholder="Enter last name" [(ngModel)]="lastName">
        </div>

        <div class="form-group">
          <label for="address1" class="modal-subtitle">Address Line 1 *</label>
          <input type="text" id="address1" name="address1" placeholder="Address line 1" [(ngModel)]="addressDetails">
        </div>

        <div class="form-group">
          <label for="address2" class="modal-subtitle">Address Line 2</label>
          <input type="text" id="address2" name="address2" placeholder="Address line 2">
        </div>

        <div class="form-group">
          <label for="country" class="modal-subtitle">Country *</label>
          <input type="text" id="country" name="country"  placeholder="Enter your country" [(ngModel)]="countryName">
        </div>

        <div class="form-group">
          <label for="city" class="modal-subtitle">City *</label>
          <input type="text" id="city" name="city"  placeholder="Enter your city" [(ngModel)]="provinceName">
        </div>

        <div class="form-group">
          <label for="zipCode" class="modal-subtitle">Zip Code *</label>
          <input type="text" id="zipCode" name="zipCode"  placeholder="Enter zipcode">
        </div>

        <div class="form-group">
          <label for="email" class="modal-subtitle">E-mail Address *</label>
          <input type="email" id="email" name="email" placeholder="Enter your email address" [(ngModel)]="customerId">
        </div>

        <div class="form-group">
          <label for="phoneNumber" class="modal-subtitle">Phone Number *</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number" [(ngModel)]="phoneNo">
        </div>

        <!-- Continue Button -->
        <button class="continue-btn">Continue to Payment</button>

        <div class="required-field-info">* - Indicates a required field</div>
  </div>
</div>

